<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.local.doom-watcher</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/yinkavaughan/My Drive (yvaughan@wesleyan.edu)/CS/DOOM/.build/release/WatcherCLI</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>DOOM_WAD_DIR</key>
		<string>/Users/yinkavaughan/My Drive (yvaughan@wesleyan.edu)/CS/DOOM/wad</string>
	</dict>
	<key>StandardOutPath</key>
	<string>/Users/yinkavaughan/My Drive (yvaughan@wesleyan.edu)/CS/DOOM/logs/doom-watcher.out</string>
	<key>StandardErrorPath</key>
	<string>/Users/yinkavaughan/My Drive (yvaughan@wesleyan.edu)/CS/DOOM/logs/doom-watcher.err</string>
</dict>
</plist>
